
.createBadge__model{
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-right: 20px;
}
.createBadge__model__IconModels{
    height: 65px;
    width: 65px;
    margin-top: 20px;
    margin-right: 20px;
}

.searchBar2{
    display:flex;
    margin-bottom: 10px;
    border:1px solid;
}


input{
    padding: 10px;
    flex:1;
    border:none;
}