@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app__page{
    font-family: Inter;
    display:flex;
    padding-top: 25px;
    flex:1
}

.app{
    display: flex;
    height: 100vh;
    flex-direction: column;
}