.badgeDetails{
    flex:1;
}

.badgeDetailsHeader{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    color: white;
    background: -webkit-linear-gradient(to right, #e94a32, #4568DC); 
    background: linear-gradient(to right, #B06AB3, #4568DC); 
}

.backButton1{
    cursor: pointer;
}

.badgeDetailsBody{
    display:flex;
    flex:1;
}

.sideTab{
    padding-top: 10px;
    flex:0.2;
    display: none;
}

.sideTab__mobileView{
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: -20px;
    margin-left: -20px;
    flex:1;
    display: flex;
    flex-direction: column;
}

.sideTab__mobileView{
    padding-top: 10px;
}

.sideTabDetails{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.detailsInputWrap{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.badgeInput{
    margin-top:10px;
    flex:1;
    border-radius: 10px;
    padding: 10px;
    border:1px solid;
}

.sideTab > hr{
    height: 1px;
    border:0;
    margin-top:10px;
    margin-bottom: 10px;
}

.detailsSection{
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.detailsSection > hr{
    height: 1px;
    border:0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radioButtonWrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.radioButtonContainer{
    display: flex;
    align-items: center;
}

.radioInput{
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    font-size: 20px;
    border:1px solid;
}

.radioButtonText{
    margin-right:15px;
}

.uploadCsvContainer{
    display: flex;
}

.uploadCsv{
    margin-bottom: 20px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.uploadCsvButton{
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    border:none;
    color:white;
    font-size: medium;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputFields{
    margin-bottom: 20px;
    padding-bottom: 10px;
    flex: 1;
}

@media (min-width: 800px) {
    .sideTab{display: flex; flex-direction: column;}
    .sideTab__mobileView{display: none}
    .detailsSection{flex: 0.4;}
    }