.createdBadges{
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    flex:1;
}

.heading{
    flex: 1;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.searchBarContainer{
    display: flex;
    flex-wrap: wrap;
    border:1px solid;
}

.space{
    flex: 0;
}

.input1{
    flex: 1;
    padding: 10px;
    border: none;
}

.hr{
    height: 1px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.yearText{
    margin-top: 30px;
}

.badgeContainer{
    margin: 0 auto;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.badge{
    width: 90%;
    border-radius: 5px;
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.badgeNameContainer{
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
}

.badgeNameText{
    font-size: 12px;
}

.createdBadgeSvg{
    height: auto;
    width: auto;
}

@media (min-width: 100px) {
.badgeContainer { grid-template-columns: repeat(2, 1fr);}
}
@media (min-width: 600px) {
.badgeContainer { grid-template-columns: repeat(3, 1fr);}
}
@media (min-width: 800px) {
.createdBadges{flex: 0.85}
.badgeContainer { grid-template-columns: repeat(4, 1fr);}
}
@media (min-width: 1000px) {
.badgeContainer { grid-template-columns: repeat(5, 1fr);}
.space{flex: 0.5}
.heading { grid-template-columns: repeat(2, 1fr);}
}
@media (min-width: 1200px) {
.badgeContainer { grid-template-columns: repeat(6, 1fr);}
}
@media (min-width: 1400px) {
.badgeContainer { grid-template-columns: repeat(7, 1fr);}
}