
.createBadgePage{
    flex: 1;
}

.createBadgeHeader{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    color: white;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC); 
    background: linear-gradient(to right, #B06AB3, #4568DC); 
}

.backButton{
    cursor: pointer;
}

.createBadgeBody{
    display: flex;
}

.presetTab{
    flex: 0.2;
    display: none;
    flex-direction: column;
}

.presetLabel{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.presets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top:10px;
    margin-left: 20px;
    margin-right: 20px;
}

.presetTab >hr{
    height: 1px;
    border:0;
    margin-top:10px;
    margin-bottom: 10px;
}

.create{
    flex: 1;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}


.presetTab__mobileView{
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.presetLabel__mobileView{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}


.presets__mobileView{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top:10px;
    margin-left: 20px;
    margin-right: 20px;
}

.canvas{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    height: auto;
    padding: 50px;
    padding-left:90px;
    padding-right:90px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 10px 2px #ededed; */
}

.svgClass{
    display: flex;
    height: auto;
    width: auto;
}

.details{
    display: flex;
}

.inputWrap{
    display: flex;
    margin-bottom: 10px;
}

.badgeName{
    margin-top:10px;
    flex:1;
    border-radius: 10px;
    padding: 10px;
    border:1px solid;
}

.description{
    margin-top:10px;
    flex:0.5;
    border-radius: 10px;
    padding: 10px;
    border:1px solid;
}

.createButton{
    cursor: pointer;
    margin-top: 20px;
    border:none;
    font-family: Inter;
    font-size: 14px;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.draftButton{
    margin-top: 20px;
    cursor: pointer;
    border:none;
    background-color: transparent;
    color:#5200ff;
    font-size: medium;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.models{
    display: none;
    padding-top: 20px;
    flex:0.15;
    background-color: red;
    padding-bottom: 20px;
    margin-bottom:20px;
}

.models__mobileView{
    padding-top: 20px;
    flex:0.15;
    padding-bottom: 20px;
    margin-bottom:20px;
}

.modelsContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
}

.modelsContainer__mobileView{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.tools{
    padding-top: 20px;
    display: none;
    flex-direction: column;
    flex:0.05;
    align-items: center;
}

.tools__mobileView{
    margin-left: -20px;
    margin-right: -20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 800px) {
.presetTab{display: flex;}
.presetTab__mobileView{display: none;}
.create{flex: 0.8;}
.tools__mobileView{display: none;}
.models__mobileView{display: none;}
.models{display: block;}
.tools{display: flex;}
.svgClass{width: 322px; height: 322px;}
.badgeName{flex: 0.5}
}