
.headerContainer{
    display:flex;
    flex-direction: column;
    position: sticky;
    top:0;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index:300;
}

.header__logo{
    margin-left: 10px;
    object-fit: contain;
}

.header__left{
    display:flex;
    align-items: center;
}

.header__icons{
    color:white;
    display:flex;
    align-items: center;
}


