
.headerContainer{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 300;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.collapseIcon{
    color: white;
    display: block;
}

.header__logo{
    object-fit: contain;
}

.header__title{
    display: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.createNew{
    display: none;
    cursor: pointer;
    border:none;
    font-family: Inter;
    font-size: 14px;
    color:#5200ff;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 18px 0 rgb(0,0,0,0.1);
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(min-width:800px){
    .collapseIcon{display: none;}
    .createNew{display: block;}
    .header__title{display: block;}
}
