.sidebar1{
    width: 100%;
    z-index:200;
}

.SidebarRow__container{
    padding-top: 10px;
    height:100%;
}

.searchBar{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    border:1px solid;
}

.searchButton{
    width:50px !important;
}

.searchBar > input{
    padding: 10px;
    flex:1;
    border: none;
}


hr{
    height: 1px;
    border:0;
    margin-top:10px;
    margin-bottom: 10px;
}